.alert-message{
	background: #8db6e8;
    padding: 6px;
    border: 1px solid #344f7c;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.alert-error{
	background: #e88d8d;
    padding: 6px;
    border: 1px solid #7c3434;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
}

button.btn_enviar {
    background: #000;
    padding: 10px 15px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 15px;
    cursor: pointer;
    display: inline-block;
    color: #fff;
    width: 100%;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

input.btn_enviar {
    background: #000;
    padding: 10px 15px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 15px;
    cursor: pointer;
    display: inline-block;
    color: #fff;
    width: 100%;
    letter-spacing: 2px;
    margin-bottom: 10px;
}